<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Trace" internalLogFile="C:/Projects/NLog/NLog_v1.0/LogFiles/nlog-internal.log">
  <variable 
    name="logDirectory" 
    value="C:/Projects/NLog/NLog_v1.0/LogFiles"/>
  <targets>
    <target name="errorlog" xsi:type="File" fileName="${logDirectory}/error/${shortdate}.txt"/>
    <target name="debuglog" xsi:type="File" fileName="${logDirectory}/debug/${shortdate}.txt"/>
  </targets>
  <rules>
    <!--this * means which class logs have to be in the log files-->
    <!--Disable all loggers-->
    <!--<logger name="*" minLevel="Trace" final="true" />-->
    <logger name="*" level="Error" writeTo="errorlog" enabled="false" />
    <logger name="*" level="Debug" writeTo="debuglog" />
  </rules>
</nlog>
